body {
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-position: left top;
}

a:link { color: #E50000; text-decoration: none; }
a:hover { color: #99ff33; text-decoration: none; }
a:active { color: #E50000; text-decoration: none; }
a:visited { color: #E50000; text-decoration: none;}

div.titleBar {
	height: 100px;
	width: 100%;
	border: solid 0.5px #D4D7D7;
	border-radius: 4px;
	
	
	box-shadow: 18px 18px 12px 1px #2B3737 inset;
	margin-top: 15px;
	padding-top: 5px;
	
	background-image: url("../images/graphPaper1.png");
	background-repeat: repeat;
	background-position: left top;
	background-attachment: fixed;
}

h1#nullmer_title {
	font-family: Chewy;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26.4px;
	
	color: #E50000;
	text-indent: 50px;
}

div.contentBody {
	position: relative;
	width: 100%;
	margin-bottom: 100px;
	
}

div.box_O_stuff {
	position: relative;
	display: inline-block;
	height: 350px;
	width: 304px;
	margin-top: 100px;
	margin-left: 90px;
	padding-left: 40px;
	padding-right: 40px;
	font-family: 'Just Another Hand';
	color: #1e3d7b; 
	background-image: url("../images/yellowNote.png");
	background-repeat: no-repeat;
	background-position: left top;
}

img {
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
}

div.footerBar {
	position: relative;
	width: 70%;
	height: 70px;
	
	border: solid 0.5px #D4D7D7;
	border-radius: 35px;
	
	box-shadow: 18px 18px 12px 1px #2B3737 inset;
	margin-top: 300px;
	padding-top: 5px;
	
	background-image: url("../images/graphPaper1.png");
	background-repeat: repeat;
	background-position: left top;
	background-attachment: fixed;
	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Chewy;
	line-height: -300%;
	color: #E50000;

}
